{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
	<div class="left-separator"></div>
	<div class="right-separator"></div>
	<div class="top-separator"></div>
	<div class="bottom-separator"></div>
	<div style="display: flex; justify-content: space-between;">
		<h4><a href="/">返回首页</a></h4>
		<h4><a href="/news">返回列表</a></h4>
	</div>
	<div class="top-separator"></div>
	<h1 style="text-align: center;">{{title}}</h1>
	<h3>{{date}}</h3>
	{% for t in text %}
	{% if t|slice:":4" == "http" %}
	<img src="{{t}}" style="text-align: center; max-width: 100%;">
	{% else %}
	<p class="news_text">
		{{t}}
	</p>
	{% endif %}
	{% endfor %}
	{% if editor != "" %}
	<h3>责任编辑：{{editor}}</h3>
	{% endif %}
</body>

</html>